#portfolio {
    margin-top: 100px;
}

.imgLogo {

    width: 75px;
    height: 75px;

    border-radius: 2px;
    border: double 15px rgba(255,255,255,0.7);
    background: rgba(255,255,255,0.7);
    background-clip: padding-box;
}

.colette {

    height: auto;
    width: 40%;
    max-width: 750px;
    min-width:  300px;

    border-radius: 2px;
    border: double 15px rgba(255,255,255,0.7);
    background: rgba(255,255,255,0.7);
    background-clip: padding-box;
}

.remy {

    height: auto;
    width: 40%;
    min-width:  300px;
    max-width: 750px;
    border-radius: 2px;
    border: double 15px rgba(255,255,255,0.7);
    background: rgba(255,255,255,0.7);
    background-clip: padding-box;
}

input {
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.img-fluid {
    margin-bottom : 30px

}