{% extends 'base.html' %}

{% load static %}

{% block content %}
<div id="portfolio">
    <div class="container-fluid p-0">
        <header class="masthead">
            <h2 class="aliment-recherche font-weight-bold text-center">[ Aliment cherché ]</h2>
            </header>
        <h1 class="text-black font-weight-bold text-center">Vous pouvez remplacer cet aliment par : </h1>
        <div class="row g-0">
            <div class="col-lg-4 col-sm-6">
                <img class="nutriscore" src="{% static 'assets/img/logo2.bmp' %}" alt="..."/>
                <a class="portfolio-box" href="{% static 'assets/img/portfolio/fullsize/1.jpg' %}" title="Project Name">
                    <img class="img-fluid" src="{% static 'assets/img/portfolio/thumbnails/1.jpg' %}" alt="..."/>
                    <img class="nutriscore" src="{% static 'assets/img/logo2.bmp' %}" alt="..."/>
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Category</div>
                        <div class="project-name">Nom aliment</div>
                    </div>
                </a>
                <h2 class="text-center mt-0">Nom aliment</h2>
                <p> SAUVEGARDER: <input type="checkbox" /></p>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="{% static 'assets/img/portfolio/fullsize/2.jpg' %}" title="Project Name">
                    <img class="img-fluid" src="{% static 'assets/img/portfolio/thumbnails/2.jpg' %}" alt="..."/>
                    <img class="nutriscore" src="{% static 'assets/img/logo2.bmp' %}" alt="..."/>
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Category</div>
                        <div class="project-name">Nom aliment</div>
                    </div>
                </a>
                <h2 class="text-center mt-0">Nom aliment</h2>
                <p> SAUVEGARDER: <input type="checkbox" /></p>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="{% static 'assets/img/portfolio/fullsize/3.jpg' %}" title="Project Name">
                    <img class="img-fluid" src="{% static 'assets/img/portfolio/thumbnails/3.jpg' %}" alt="..."/>
                    <img class="nutriscore" src="{% static 'assets/img/logo2.bmp' %}" alt="..."/>
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Category</div>
                        <div class="project-name">Nom aliment</div>
                    </div>
                </a>
                <h2 class="text-center mt-0">Nom aliment</h2>
                <p> SAUVEGARDER: <input type="checkbox" /></p>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="{% static 'assets/img/portfolio/fullsize/4.jpg' %}" title="Project Name">
                    <img class="img-fluid" src="{% static 'assets/img/portfolio/thumbnails/4.jpg' %}" alt="..."/>
                    <img class="nutriscore" src="{% static 'assets/img/logo2.bmp' %}" alt="..."/>
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Category</div>
                        <div class="project-name">Nom aliment</div>
                    </div>
                </a>
                <h2 class="text-center mt-0">Nom aliment</h2>
                <p> SAUVEGARDER: <input type="checkbox" /></p>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="{% static 'assets/img/portfolio/fullsize/5.jpg' %}" title="Project Name">
                    <img class="img-fluid" src="{% static 'assets/img/portfolio/thumbnails/5.jpg' %}" alt="..."/>
                    <img class="nutriscore" src="{% static 'assets/img/logo2.bmp' %}" alt="..."/>
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Category</div>
                        <div class="project-name">Nom aliment</div>
                    </div>
                </a>
                <h2 class="text-center mt-0">Nom aliment</h2>
                <p> SAUVEGARDER: <input type="checkbox" /></p>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="{% static 'assets/img/portfolio/fullsize/6.jpg' %}" title="Project Name">
                    <img class="img-fluid" src="{% static 'assets/img/portfolio/thumbnails/6.jpg' %}" alt="..."/>
                    <img class="nutriscore" src="{% static 'assets/img/logo2.bmp' %}" alt="..."/>
                    <div class="portfolio-box-caption p-3">
                        <div class="project-category text-white-50">Category</div>
                        <div class="project-name">Nom aliment</div>
                    </div>
                </a>
                <h2 class="text-center mt-0">Nom aliment</h2>
                <p> SAUVEGARDER: <input type="checkbox" /></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}